@property --margin-value {
    syntax: '<length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-t-value {
    syntax: '<length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-b-value {
    syntax: '<length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-l-value {
    syntax: '<length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-r-value {
    syntax: '<length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

// Layout
.u-display         { display:         var(--display-value); }
.u-justify-content { justify-content: var(--justify-c-value); }
.u-align-items     { align-items:     var(--align-i-value); }
.u-gap             { gap:             var(--gap-value); }

// Spacing
.u-margin {
    margin:        var(--margin-value);
    margin-top:    var(--margin-t-value);
    margin-bottom: var(--margin-b-value);
    margin-left:   var(--margin-l-value);
    margin-right:  var(--margin-r-value);
}