@property --margin-value {
    syntax: 'auto | <length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-t-value {
    syntax: 'auto | <length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-b-value {
    syntax: 'auto | <length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-l-value {
    syntax: 'auto | <length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

@property --margin-r-value {
    syntax: 'auto | <length> | <percentage>';
    initial-value: 0;
    inherits: false;
}

// Layout
.u-display         { display:         var(--display-value); }
.u-justify-content { justify-content: var(--justify-c-value); }
.u-align-items     { align-items:     var(--align-i-value); }
.u-gap             { gap:             var(--gap-value); }

// Spacing
.u-margin {
    margin:        var(--margin-value) !important;
    margin-top:    var(--margin-t-value) !important;
    margin-bottom: var(--margin-b-value) !important;
    margin-left:   var(--margin-l-value) !important;
    margin-right:  var(--margin-r-value) !important;
}

.u-max-width { max-width: var(--max-w-value); }