:root {
    --container-width: 120rem;

    --clr-blue-0: #e7f5ff;
    --clr-blue-1: #d0ebff;
    --clr-blue-2: #a5d8ff;
    --clr-blue-3: #74c0fc;
    --clr-blue-4: #4dabf7;
    --clr-blue-5: #339af0;
    --clr-blue-6: #228be6;
    --clr-blue-7: #1c7ed6;
    --clr-blue-8: #1971c2;
    --clr-blue-9: #1864ab;

    --clr-gray-0: #f8f9fa;
    --clr-gray-1: #f1f3f5;
    --clr-gray-2: #e9ecef;
    --clr-gray-3: #dee2e6;
    --clr-gray-4: #ced4da;
    --clr-gray-5: #adb5bd;
    --clr-gray-6: #868e96;
    --clr-gray-7: #495057;
    --clr-gray-8: #343a40;
    --clr-gray-9: #212529;

    --clr-red-0: #fff5f5;
    --clr-red-1: #ffe3e3;
    --clr-red-2: #ffc9c9;
    --clr-red-3: #ffa8a8;
    --clr-red-4: #ff8787;
    --clr-red-5: #ff6b6b;
    --clr-red-6: #fa5252;
    --clr-red-7: #f03e3e;
    --clr-red-8: #e03131;
    --clr-red-9: #c92a2a;
}
